

body
{
    background-color:rgb(243, 235, 241);
    border: 50px solid black;
}
.color_18
{

 vertical-align: baseline;
 background: transparent;
 letter-spacing: -0.02em;
 line-height: 1.2em;
 text-align: center;
 font-size: 75px;
 color: rgb(10, 9, 10);
}
.color_19
{
  font-style: italic;  
font-size: 40 ;
color:rgb(14, 15, 15);
}
.about
{
background-color:rgb(243, 235, 241);
font-style: calc();
margin-left: 400;
}
